.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .wrapper-footer {
    background-color: #181818;
    color: white;
    border-top: 1px solid #181818;
    border-bottom: 1px solid #181818;
}

.dark-mode .masthead {
    border-bottom: 1px solid #333;
}

.dark-mode .posts>.post {
    border-bottom: 1px solid #333;
}

.dark-mode h1 {
    color: #E0E0E0;
}

.dark-mode h2 {
    color: #f0ece2
}

.dark-mode nav a {
    color: white;
}

.dark-mode .date {
    color: #333;
}

.dark-mode .highlight {
    background-color: #222222;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #e0e0e0;
}

.dark-mode hr {
    border: 1px solid #333;
}
